/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */
/*  Add your styling here */
body {
    margin: 0;
}

a {
    text-decoration: none;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(13, 177, 206);
    margin: 0;
    position: fixe
    overflow: hidden;
    top: 0;
    padding: 10px;
}
#texto-navbar {
    display: flex;
    justify-content: center;
    margin: 0;
    line-height: 1vh;
    font-size: x-large;
}

#links {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: 5vw;
}

.button-enlaces {
    border-radius: 0;
    border: none;
    background-color: rgb(35, 207, 219);
    color: white;
    width: 20vw;
    height: 3vw;
    margin: 150px 10px;
}